<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>品牌列表</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">
    <!--顶部搜索表单-->
    <el-form :inline="true" :model="brandSearch" class="demo-form-inline">
        <el-form-item label="启用状态">
            <el-select v-model="brandSearch.status" placeholder="启用状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="brandSearch.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brandSearch.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <!--顶部操作按钮-->
    <el-row>
        <el-button type="danger" plain>批量删除</el-button>
        <el-button type="primary" @click="addDialogVisible = true;" plain>新增</el-button>
    </el-row>
    <!--新增操作表单-->
    <el-dialog
            :data="tableData"
            title="新增品牌"
            :visible.sync="addDialogVisible"
            width="30%">
        <el-form ref="addBrandForm" :model="brand" label-width="80px">
            <el-form-item label="品牌名称" prop="brandName">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称" prop="companyName">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序" prop="ordered">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="description">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="status">
                <el-switch v-model="brand.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addBrand();resetForm('addBrandForm')">提交</el-button>
                <el-button @click="addDialogVisible = false;resetForm('addBrandForm')">取消</el-button>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
  </span>
    </el-dialog>
    <!--修改操作表单-->
    <el-dialog
            title="修改品牌信息"
            :visible.sync="updateDialogVisible"
            width="30%">
        <el-form ref="form" :model="row" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="row.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="row.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="row.ordered"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="row.description"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-switch v-model="row.status"
                           :active-value="1"
                           :inactive-value="0"
                ></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="updateBrand()">提交</el-button>
                <el-button @click="updateDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
  </span>
    </el-dialog>
    <!--数据展示表格-->
    <template>
        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange"
                :row-class-name="tableRowClassName">
            <!--复选框-->
            <el-table-column
                    align="center"
                    type="selection">
            </el-table-column>
            <!--序号-->
            <el-table-column
                    type="index">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="brandName"
                    label="品牌名称">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="companyName"
                    label="企业名称">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="ordered"
                    label="排序">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="status"
                    label="当前状态">
            </el-table-column>
            <!--操作栏-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            align="center"
                            size="mini"
                            @click="selectById(scope.row)">修改
                    </el-button>
                    <el-button
                            align="center"
                            size="mini"
                            type="danger"
                            @click="deleteById(scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页工具条-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="100"
                layout="total, sizes, prev, pager, next, jumper"
                :total="400">
        </el-pagination>
    </div>
</div>

<script src="js/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: "#app",
        // 完成页面加载，查询所有列表
        mounted() {
            this.selectAll();
        },
        methods: {
            // 业务方法区
            // 查询所有数据
            selectAll() {
                var _this = this
                axios({
                    method: "get",
                    url: "http://localhost:8080/itheima_webdemo_war_exploded/brand/selectAll"
                }).then(function (resp) {
                    _this.tableData = resp.data;
                })
            },
            // 查询提交方法
            onSubmit() {
            },
            // 修改品牌数据方法
            updateBrand() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/itheima_webdemo_war_exploded/brand/updateById",
                    data: _this.row,
                }).then(function (resp) {
                    if (resp.data == "success") {
                        // 关闭窗口
                        _this.updateDialogVisible = false;
                        // 刷新数据
                        _this.selectAll();
                        // 提示信息
                        _this.$notify({
                            title: '成功',
                            message: '修改成功',
                            type: 'success'
                        });
                    } else {
                        // 关闭窗口
                        _this.updateDialogVisible = false;
                        // 提示信息
                        _this.$notify.error({
                            title: '错误',
                            message: '修改失败'
                        });
                    }
                });
            },

            // 根据Id查询并回显数据
            selectById(row) {
                var _this = this;
                _this.row = row;
                axios({
                    method: "post",
                    url: "http://localhost:8080/itheima_webdemo_war_exploded/brand/selectById",
                    data: _this.row,
                }).then(function (resp) {
                    _this.updateDialogVisible = true;
                    _this.$nextTick(() => {
                        _this.row = resp.data;
                    });
                });
            },
            // 添加品牌方法
            addBrand() {
                var _this = this
                axios({
                    method: "post",
                    url: "http://localhost:8080/itheima_webdemo_war_exploded/brand/addAll",
                    data: _this.brand
                }).then(function (resp) {
                    if (resp.data == "success") {
                        // 关闭窗口
                        _this.addDialogVisible = false;
                        // 刷新数据
                        _this.selectAll();
                        // 提示信息
                        _this.$notify({
                            title: '成功',
                            message: '添加成功',
                            type: 'success'
                        });
                    } else {
                        // 关闭窗口
                        _this.addDialogVisible = false;
                        // 提示信息
                        _this.$notify.error({
                            title: '错误',
                            message: '添加失败'
                        });
                    }
                })
            },
            deleteById(row) {
                var _this = this;
                _this.row = row
                this.$confirm('此操作将永久删除此条数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/itheima_webdemo_war_exploded/brand/deleteById",
                        data: _this.row.id
                    }).then(function (resp) {
                        _this.selectAll();
                    });
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },

            // Element组件方法区
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 3 === 0) {
                    return 'warning-row';
                } else if (rowIndex % 3 === 2) {
                    return 'success-row';
                }
                return '';
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(val);
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },

        data() {
            return {
                tableData: [],
                // 复选框模型
                multipleSelection: [],
                // 品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: '',
                    ordered: '',
                    description: '',
                },
                // 搜索框品牌模型
                brandSearch: {
                    status: '',
                    brandName: '',
                    companyName: '',
                },
                // 当前页
                currentPage: 1,
                // 添加表单展示标记
                addDialogVisible: false,
                // 修改表单展示标记
                updateDialogVisible: false,
                row: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: '',
                    ordered: '',
                    description: '',
                },
            }
        }
    })
</script>
</body>
</html>